---
import BaseThemeLayout from '../../layouts/BaseThemeLayout.astro';
import BrandTableDisplay from '../../layouts/sections/tables/BrandTableDisplay.astro';
---

<BaseThemeLayout>

  <section class="w-full">
    <div class="max-w-7xl mx-auto px-6 py-10">

      <BrandTableDisplay />

    </div>
  </section>

</BaseThemeLayout>