---
import BaseThemeLayout from '@layouts/BaseThemeLayout.astro';
import WorkingGroupsSection from '@layouts/sections/events/WorkingGroupsSection.astro';
---

<BaseThemeLayout title="Working Groups - The Water Foundation">
  <main class="overflow-x-hidden">
    <WorkingGroupsSection />
  </main>
</BaseThemeLayout>