# build output
dist/
# generated types
.astro/

# context vigilance
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v4/cache.db
.aider.tags.cache.v4/cache.db-shm
.aider.*

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# backup files
*.bak
