---
// src/components/team/PhilanthropiesSpan.astro
import PersonCard from './PersonCard.astro';
import type { TeamMember } from '../../types/team';
import "@styles/team-spans.css";

interface Props {
  members: TeamMember[];
}

const { members } = Astro.props;
---

<span class="team-span">
  <h1 class="role-header">Philanthropies</h1>
  <span class="person-cards">
    {members.map(member => (
      <PersonCard {...member} />
    ))}
  </span>
</span>


<style>
  /* Additional component-specific styles can go here */
</style>
