---
import BaseThemeLayout from '@layouts/BaseThemeLayout.astro';
import HeroSection from '@layouts/sections/impact/HeroSection.astro';
import FlywheelSection from '@layouts/sections/impact/FlywheelSection.astro';
import SDGSection from '@layouts/sections/impact/SDGSection.astro';
import CircularWaterSection from '@layouts/sections/impact/CircularWaterSection.astro';
import CallToActionSection from '@layouts/sections/impact/CallToActionSection.astro';
import ImpactStyles from '@layouts/sections/impact/ImpactStyles.astro';
---

<BaseThemeLayout
  title="Our Impact II - The Water Foundation"
  description="Discover how The Water Foundation is driving water innovation and creating lasting impact across the global water ecosystem"
  ogImage="/ogImageLandscape__The-Water-Foundation.jpg"
  ogImagePortrait="/ogImagePortrait__The-Water-Foundation.jpg"
>
  <main class="overflow-x-hidden">
    <HeroSection />

    <FlywheelSection />

    <SDGSection />

    <CircularWaterSection />

    <CallToActionSection />
  </main>
</BaseThemeLayout>

<ImpactStyles />
