---
import BaseThemeLayout from '../../layouts/BaseThemeLayout.astro';
import HeroSection from '../../layouts/sections/strategy/HeroSection.astro';
import CoreFrameworkSection from '../../layouts/sections/strategy/CoreFrameworkSection.astro';
import StrategyActionTable from '../../layouts/sections/strategy/StrategyActionTable.astro';
import UAEStrategySection from '../../layouts/sections/strategy/UAEStrategySection.astro';
import NigeriaStrategySection from '../../layouts/sections/strategy/NigeriaStrategySection.astro';
import IndiaStrategySection from '../../layouts/sections/strategy/IndiaStrategySection.astro';
---
<BaseThemeLayout
  title="First Princples"
  description="The Water Foundation's First-Principles Strategy"
  ogImage="/ogImageLandscape__The-Water-Foundation.jpg"
  ogImagePortrait="/ogImagePortrait__The-Water-Foundation.jpg"
>
    <main>
        <HeroSection />

        <CoreFrameworkSection />

        <StrategyActionTable />

        <UAEStrategySection />

        <NigeriaStrategySection />

        <IndiaStrategySection />
    </main>
</BaseThemeLayout>
