---
import BaseThemeLayout from '../../layouts/BaseThemeLayout.astro';
import ColumnarMessages from '../../layouts/sections/message-grids/ColumnarMessages.astro';

---
<BaseThemeLayout
  title="First Princples"
  description="The Water Foundation's First-Principles Strategy"
  ogImage="/ogImageLandscape__The-Water-Foundation.jpg"
  ogImagePortrait="/ogImagePortrait__The-Water-Foundation.jpg"
>
    <main>
        <ColumnarMessages contextSetterTxt="Strategy" headingTxt="First-Principles" columns={[
            {
                title: "Resource Scarcity",
                items: [
                    "Water scarcity and impending degradation of our water systems.",
                    "The Water Foundation empowers individuals, organisations, and states to develop strategic capacity, increase resilience, and shape circular water and resource infrastructures for the future.",
                    "We build an ecosystem that addresses one of the least appreciated challenges of our time: water scarcity and impending degradation of our water systems.",
                ],
            },
            {
                title: "Market Response",
                items: [
                    "In 2024, investor interest surged in technologies like desalination, advanced treatment, and PFAS destruction — solutions that are vital for environmental resilience and rich with market potential.",
                    "The Water Foundation empowers individuals, organisations, and states to develop strategic capacity, increase resilience, and shape circular water and resource infrastructures for the future.",
                    "We build an ecosystem that addresses one of the least appreciated challenges of our time: water scarcity and impending degradation of our water systems.",
                ],
            },
            {
                title: "Opportunity Matrix",
                items: [
                    "This is more than a crisis. It's a call to invest in the future — where innovation meets impact.",
                    "The Water Foundation empowers individuals, organisations, and states to develop strategic capacity, increase resilience, and shape circular water and resource infrastructures for the future.",
                    "We build an ecosystem that addresses one of the least appreciated challenges of our time: water scarcity and impending degradation of our water systems.",
                ],
            },
        ]}/>
    </main>
</BaseThemeLayout>
